{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Resto del contenido -->
    <!-- Landing page en el header -->
        <header id="my-header">
          <div class="container">
            <div id="first-box">
              <div>
                <p class="p-h1">Stardreams</p>
              </div>

                <div class="classy-div mx-auto" style="width: 90%;">
                  <a href="{% static 'ejecutables/0.2/index.html' %}">
                    <img src="{% static 'assets/icons/play.svg'%}" alt="" style="height: 12px; filter: invert(100%) sepia(0%) saturate(2985%) hue-rotate(215deg) brightness(114%) contrast(101%);">
                    <a href="{% static 'ejecutables/0.3/Windows.zip' %}" class="p-h3 px-3" style="display: inline;">Descárgalo en PC</a>
                    <img src="{% static 'assets/icons/play.svg' %}" alt="" style="height: 12px; filter: invert(100%) sepia(0%) saturate(2985%) hue-rotate(215deg) brightness(114%) contrast(101%); transform: rotate(180deg);">
                  </a>
                </div>
                <div class="classy-div mx-auto mt-2" style="width: 90%;">
                  <a href="{% static 'ejecutables/0.2/index.html' %}">
                    <img src="{% static 'assets/icons/play.svg'%}" alt="" style="height: 12px; filter: invert(100%) sepia(0%) saturate(2985%) hue-rotate(215deg) brightness(114%) contrast(101%);">
                    <a href="{% static 'ejecutables/0.3/MacOS.zip' %}" class="p-h3 px-3" style="display: inline;">Descárgalo en Mac</a>
                    <img src="{% static 'assets/icons/play.svg' %}" alt="" style="height: 12px; filter: invert(100%) sepia(0%) saturate(2985%) hue-rotate(215deg) brightness(114%) contrast(101%); transform: rotate(180deg);">
                  </a>
                </div>
            </div>
          </div>
        </header>
    <main>
      <section id="juego">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-6 sec-text">
              <div class="sec-text-inside">
                <p class="p-h2">StarDreams</p>
                <p class="p-h6 mt-5">Acompáñanos en esta aventura divertida en las nubes en donde podrás conocer un poco más sobre qué es STEM y aprender sobre el mundo de las matemáticas, ciencias, ingeniería y tecnología. Queremos que en este juego te diviertas, pero sobre todo que te aventures en el mundo de estas ramas que a lo largo de los años han sido los pilares que nos han ayudado a innovar y explorar el mundo.</p>

              </div>
            </div>
            <div class="col-12 col-md-6">
              <div>
                <img src="{% static 'assets/imgs/ChavaBig.png' %}" alt="Foto chava" class="character-img">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="nosotros">
        <div class="container">
          <div class="sec-text-p">
            <p class="p-h2 text-center" id="org-steam">Sobre Nosotros</p>
            <p class="p-h6 mt-5">El equipo de STEM está conformado por cuatro estudiantes de la carrera de Ingeniería en Tecnologías Computacionales de la universidad del Tecnológico de Monterrey. Cada uno de los integrantes del equipo está comprometido con desarrollar el mejor juego para la educación de los jóvenes.</p>
          </div>


          <div class="row pt-4" style="padding-bottom: 4.5rem!important;">
            <div class="mt-md-0 mt-3 col-12 col-md-3 text-center">
              <img class="nosotros-img" src="{% static 'assets/imgs/pp_diego.png' %}" alt="">
              <p class="p-h3 pt-3 pb-1">Diego Urgell</p>
              <p class="p-h6">Alumno de 4to semestre de ITC. A Diego le apasionan las estructuras de datos para poder crear softwares de la mejor calidad.</p>

            </div>

            <div class="mt-md-0 mt-3 col-12 col-md-3 text-center">
              <img class="nosotros-img" src="{% static 'assets/imgs/pp_gus.png' %}" alt="">
              <p class="p-h3 pt-3 pb-1">Agustín Abreu</p>
              <p class="p-h6">Alumno de 4to semestre de ITC. El pasatiempo favorito de Agustín es desarrollar juegos profesionales dentro de la plataforma de Unity.</p>

            </div>
            <div class="mt-md-0 mt-3 col-12 col-md-3 text-center">
              <img class="nosotros-img" src="{% static 'assets/imgs/pp_march.png' %}" alt="">
              <p class="p-h3 pt-3 pb-1">Marcia Lechuga</p>
              <p class="p-h6">Alumna de 4to semestre de ITC. Marcia tiene una gran pasión por la tecnología de software, y en específico el manejo de bases de datos.</p>

            </div>
            <div class="mt-md-0 mt-3 col-12 col-md-3 text-center">
              <img class="nosotros-img" src="{% static 'assets/imgs/pp_inigo.png' %}" alt="">
              <p class="p-h3 pt-3 pb-1">Iñigo Zepeda</p>
              <p class="p-h6">Alumno de 4to semestre de ITC. Iñigo tiene una pasión por el desarrollo web frontend y backend, al igual que el diseño gráfico.</p>

            </div>

          </div>
      </div>


      </section>

      <section id="movimiento-stem">
        <div class="container-fluid">
          <div class="row">

            <div class="col-12 col-md-6">
              <div class="text-center pt-5">
                <img src="{% static 'assets/imgs/poseidon.png' %}" alt="Foto chava" class="character-img-2">
              </div>
            </div>
            <div class="col-12 col-md-6 sec-text">
              <div class="sec-text-inside-2">
                <p class="p-h2">Movimiento STEM</p>
                <p class="p-h6 mt-5">STEM es una tendencia global que promueve la enseñanza de la ciencia, la tecnología, la ingeniería y las matemáticas (por su acrónimo en inglés) como pilares para el desarrollo sostenible y el bienestar social. Además de agrupar estos argumentos, es un movimiento que desarrolla un pensamiento profundamente, científico y matemático con un enfoque en la innovación. Ofrece el aprendizaje basado en la solución de problemas y desarrolla habilidades indispensables para competir en el mundo del siglo XXI, trabajar con visión social e inclusiva. Movimiento Steam es una asociación sin fines de lucro que guía un movimiento regional que guía la educación y el talento de Steam, el trabajo del futuro e innovación, con una visión social e inclusiva.</p>

                <div class="text-center pb-5">
                  <p class="p-h6 mt-5 mb-0">Conoce</p>
                  <div style="background-color: white; width: 150px;" class="mx-auto py-1">
                    <a href="https://movimientosteam.org/" style="color: #3161e6; text-decoration: none;">Movimiento STEM</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container">
            <div class="sec-text-p">
              <p class="p-h2 text-center" id="org-steam">Movimiento STEM</p>
              <p class="p-h6 mt-5">STEM es una tendencia global que promueve la enseñanza de la ciencia, la tecnología, la ingeniería y las matemáticas (por su acrónimo en inglés) como pilares para el desarrollo sostenible y el bienestar social. Además de agrupar estos argumentos, es un movimiento que desarrolla un pensamiento profundamente, científico y matemático con un enfoque en la innovación. Ofrece el aprendizaje basado en la solución de problemas y desarrolla habilidades indispensables para competir en el mundo del siglo XXI, trabajar con visión social e inclusiva. Movimiento Steam es una asociación sin fines de lucro que guía un movimiento regional que guía la educación y el talento de Steam, el trabajo del futuro e innovación, con una visión social e inclusiva.</p>
            </div>
            <div class="text-center">
              <p class="p-h6 mt-5 mb-0">Conoce</p>
              <div style="background-color: white; width: 150px;" class="mx-auto py-1">
                <a href="https://movimientosteam.org/" style="color: #3161e6; text-decoration: none;">Movimiento STEM</a>
              </div>
            </div>
        </div> -->
      </section>
    </main>
{% endblock  %}
