{% extends 'base.html' %}
{% load static %}

{%  block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/styles/nav.css' %}">
    <!-- Bootstrap. Ayuda para el CSS. -->
    <link rel="stylesheet" href="{% static 'assets/styles/indicadores2.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h1>Indicadores STEM</h1>

        <div>
            <h3> Total de jugadores del mes</h3>
            <img src="{% static 'assets/imgs/mesNinos.png' %}" class="imagenes">
            <span class="center spans"> {{ month }} </span>
        </div>

        <div>
            <h3> Total de jugadores</h3>
            <img src="{% static 'assets/imgs/totalNinos.png' %}" class="imagenes">
            <span class="center spans"> {{ total }} </span>
        </div>

        <div>
            <h3> Terminaron el videojuego </h3>
            <span class="center spans">  {{ completo }} </span>
        </div>

        <div>
            <h3> Rama STEM Preferida</h3>
            <span class="center spans"> {{ rama }} </span>
        </div>

         <div>
            <h3> Minutos totales jugados </h3>
            <span class="center spans">  {{ minutes }} min </span>
        </div>

         <div>
            <h3> Duración promedio de sesión </h3>
            <span class="center spans">  {{ avg_sesion }} min</span>
        </div>

        <div>
            <h3> Record máximo de terminación </h3>
            <span class="center spans"> {{ max.name }} </span>
            <span class="center spans"> {{ max.time }} min </span>
        </div>

        <div>
            <h3> Record mínimo de terminación </h3>
            <span class="center spans"> {{ min.name }} </span>
            <span class="center spans"> {{ min.time }} min</span>
        </div>

        <div>
            <h3> Distribución de jugadores </h3>
            <div id="genderDistribution"></div>
        </div>

        <div>
            <h3> Edades de los jugadores </h3>
            <div id="playersAge"></div>
        </div>

        <div>
            <h3> Jugadores por edad del profesor </h3>
            <div id="ageSuccess"> </div>
        </div>

        <div>
            <h3> Preferencia por rama STEM </h3>
            <div id="areaPreference"></div>
        </div>

        <div>
            <h3> Nivel Ciencias</h3>
            <span class="spans"> Jugadores que completaron: {{ ciencia.completo }} </span>
            <span class="spans"> Tiempo Medio de Terminación: {{ ciencia.avg_time }} hr </span>
            <span class="spans"> Tiempo Mínimo de Terminación: {{ ciencia.min }} hr </span>
            <span class="spans"> Tiempo Máximo de Terminación: {{ ciencia.max }} hr </span>
            <span class="spans"> Promedio de éxito: {{ ciencia.avg_success }} % </span>
        </div>

        <div>
            <h3> Nivel Tecnología</h3>
            <span class="spans"> Jugadores que completaron: {{ tec.completo }} </span>
            <span class="spans"> Tiempo Medio de Terminación: {{ tec.avg_time }} hr </span>
            <span class="spans"> Tiempo Mínimo de Terminación: {{ tec.min }} hr </span>
            <span class="spans"> Tiempo Máximo de Terminación: {{ tec.max }} hr </span>
            <span class="spans"> Promedio de éxito: {{ tec.avg_success }} % </span>
        </div>

        <div>
            <h3> Nivel Ingeniería </h3>
            <span class="spans"> Jugadores que completaron: {{ ing.completo }} </span>
            <span class="spans"> Tiempo Medio de Terminación: {{ ing.avg_time }} hr </span>
            <span class="spans"> Tiempo Mínimo de Terminación: {{ ing.min }} hr </span>
            <span class="spans"> Tiempo Máximo de Terminación: {{ ing.max }} hr </span>
            <span class="spans"> Promedio de éxito: {{ ing.avg_success }} % </span>
        </div>

        <div>
            <h3> Nivel Matemáticas</h3>
            <span class="spans"> Jugadores que completaron: {{ mat.completo }} </span>
            <span class="spans"> Tiempo Medio de Terminación: {{ mat.avg_time }} hr </span>
            <span class="spans"> Tiempo Mínimo de Terminación: {{ mat.min }} hr </span>
            <span class="spans"> Tiempo Máximo de Terminación: {{ mat.max }} hr </span>
            <span class="spans"> Promedio de éxito: {{ mat.avg_success }} % </span>
        </div>
    </main>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['treemap']});
        google.charts.setOnLoadCallback(createCharts);

        let gender = {{ genero }};
        let prof = {{ prof }};
        let area = {{ area }};

        function createCharts(){
            distribucionesChart()
            teacherChart()
            stemChart()
            ageChart()
        }

        function ageChart() {
            var age = google.visualization.arrayToDataTable({{ age | safe }});
            var options = {
                bar: {groupWidth: "95%"},
                legend: "none",
                backgroundColor: 'transparent',
                hAxis: {
                    textStyle: {
                        color: "#FFFFFF"
                    },
                    title: "Edad",
                    titleTextStyle:{
                        color: '#FFF',
                        fontSize: 20
                    },
                    gridlines: {
                        color: "#FFFFFF"
                    },
                    baselineColor: '#FFFFFF'
                },
                vAxis: {
                    title:"Cantidad",
                    titleStyle:{
                        color: "#FFFFFF"
                    },
                    titleTextStyle:{
                        color: '#FFF',
                        fontSize: 20
                    },
                    textStyle: {
                        color: "#FFFFFF"
                    },
                    gridlines: {
                        color: "#FFFFFF"
                    },
                    baselineColor: '#FFFFFF'
                },
            };
            let chart = new google.visualization.ColumnChart(document.getElementById("playersAge"));
            chart.draw(age, options);
        }

    </script>
    <script src="{% static 'assets/scripts/graphs.js' %}"></script>
{% endblock %}
